@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

body {
  font-family: Arial, sans-serif;
  text-align: center;
  background: linear-gradient(to left, #a10003, #330102);
  background-size: 600% 600%;
  animation: gradient 5s ease 1;
  padding: 10px;
  height: 100%;
}

iframe { pointer-events: none; }

.text { color: seashell; }

.url-input {
  margin-bottom: 20px;
}

.url-input input {
  width: 60%;
  padding: 5px;
}

.url-input button {
  margin-left: 10px;
  padding: 5px;
}

.main-content {
  display: inline-block;
  justify-content: center;
  align-items: flex-start;
}

.welc {
	margin-top:0px;
}

.relative {
  position: relative;
  width: 400px;
  height: 800px;
  border: 30px solid #73AD21;
} 

.video-controls {
  display: flex;
  align-items: center;
  width: 100%;
  height: 30px;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 5px;
}

.play-pause-btn,
.controls-wrapper,
.time-info {
  margin-right: 10px;
}

.time-info > * {
  display: inline-block;
}

.controls-wrapper {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.volume-control,
.seek-bar {
  flex-shrink: 0;
}

.seek-bar {
  width: 85%;
}

.volume-control {
  width: 15%;
}
